#hero{
    color: white;
}

.bg-img {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    height: 100vh;
    position: relative;
    z-index: 3;
}

.overlap {
    background-color: rgba(5, 19, 17, 0.651);
    backdrop-filter: blur(3px);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.hero {
    margin-top: 55px;

}

@media (max-width: 768px) {
    .hero {
        padding-top: 150px;
    }
    .cta-section{
        margin-top: 100px;
    }
}


.type-text {
    font-size: 1.55rem;
    font-weight: 500;
    /* color: greenyellow; */
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: 100%;
}

.blinker {
    display: inline-block;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.cta-section .contact-btn {
    padding: 12px 30px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(255, 75, 43, 0.4);
    transition: all 0.3s ease-in-out;
}

.cta-section .contact-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(255, 75, 43, 0.6);
}
.gradient-heading {
font-size: 3.5rem;
    font-weight: bold;
    color: #00ffff;
    text-shadow: 0 0 0.2px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff;
}
.glow-underline-heading {
    font-size: clamp(2.25rem, 6vw, 4.5rem);
    font-weight: bold;
    color: #00ffff;
    /* text-shadow: 0 0 0.0px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff; */
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: 6;
}

.glow-underline-heading:hover {
    font-size: clamp(2rem, 6vw, 4.5rem);
    font-weight: bold;
    color: #00ffff;
    text-shadow: 0 0 0.0px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.glow-underline-heading::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    left: 50%;
    bottom: -8px;
    background: linear-gradient(90deg, #00ffff, #0072ff);
    transition: all 0.4s ease-in-out;
    transform: translateX(-50%);
    border-radius: 2px;
}

.glow-underline-heading:hover::after {
    width: 100%;
}
.welcome{
    color: #e4cfc1;
}