.tieup-section {
  padding: 50px 20px;
  background: #020202;
  text-align: center;
}

.tieup-title {
  font-size: 42px;
  font-weight: bold;
  color: #42fff6;
  margin-bottom: 40px;
}

.company-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.company-card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  padding: 10px;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.company-logo {
  width: 130px;
  height: 130px;
  object-fit: contain;
  background: black;
  margin: 0 auto;
  
}

.company-name1 {
  position: absolute;
  bottom: -120%;
  left: 0;
  width: 100%;
  text-align: center;
  color: #00ffff;
  font-weight: 600;
  transition: bottom 0.3s ease;
  background-color: #000000a7;
  width: 100%;
  height: 100%;
   backdrop-filter: blur(3px);
   padding: 10px;
   font-size: 20px;
}

.company-card:hover .company-name1 {
  bottom: -16px;
}
